@font-face {
    font-family: "digital";
    src: url(fonts/DS-DIGI.TTF) format('truetype');

}

:root {
    --Cinza: #C0C2C4;
    --AzulClaro: #03a9f4;
    --Vermelho: #f44336;
    --Preto: #212121;
    --BrancoTela: #f5f5f5;
    --laraja: #f68410; 
}

*{
    padding: 0;
    margin: 0;
}

.calculadora {
    background-color: var(--Cinza);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.579);
    border: 0.5px solid black;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 100%;
    margin: auto;
    margin-top: 15vh;
}

.calculadora__tela {
    background-color: var(--BrancoTela);
    border: 2px solid var(--Preto);
    font-size: 3em;
    font-family: 'digital';
    text-align: end;
    padding-right: 3px;
    margin: auto;
    height: 78%;
    width: 90%;
}

.calculadora__teclas {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 22.5% 22.5% 22.5% 22.5%;
    margin: auto;
    width: 90%;
    height: 95%;
    gap: 2.5%;
}

@media screen and (min-width: 320px) {
    .calculadora {
        width: 90%;
        height: 60vh;
    }
}

@media screen and (min-width: 768px) {
    .calculadora {
        width: 30%;
        height: 60vh;
    }
}







